@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SFProDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('./fonts/NotoSansKR-Light.otf') format('opentype');
}